/* Importación de la paleta de colores */
@import url("paletacolores.css");
/* Importación de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato",  Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--fondo-principal);
  color: var(--texto-principal);
}

/* Hereda el tipo de letra en todos los elementos de formulario */
input, select, textarea {
  font-family: inherit;
}

a {
  color: var(--enlace-primario);
  text-decoration: none;
}

/* Encabezado */
#cabecera {
  background-color: var(--color-primario);
  color: var(--texto-blanco);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cabecera img {
  max-height: 150px;
  margin: 10px;
}

#divTitulo h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: var(--titulo-blanco);
}

#divTitulo p {
  font-size: 18px;
  margin-bottom: 0;
}

/* Menú de navegación */
#navbar {
  background-color: var(--color-secundario);
  padding: 20px;
  text-align: right;
}

#navbar ul {
  list-style: none;
}

#navbar ul li {
  display: inline-block;
  margin-right: 10px;
}

#navbar ul li a {
  color: var(--texto-principal);
  text-decoration: none;
}

/* Estilo para el enlace activo en la navbar */
#navbar ul li a.active {
  background-color: var(--web-activa);
  color: var(--texto-principal);
}

/* Subnavbar */
#subnavbar {
  background-color: var(--color-acento);
  color: var(--color-primario);
  padding: 10px 20px;
  border-top: 1px solid var(--borde-principal);
  box-shadow: 0 2px 4px var(--sombra-principal);
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 999;
}

#subnavbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#subnavbar ul li {
  margin-right: 20px;
}

#subnavbar ul li a {
  color: var(--texto-principal);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

#subnavbar ul li a:hover {
  background-color: var(--color-secundario);
  color: var(--texto-principal);
}

/* Secciones principales */
section {
  padding: 20px;
  border: 1px solid var(--borde-principal);
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--sombra-principal);
  background-color: var(--fondo-terciario);
  margin-bottom: 30px;
}

section h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--titulo-principal);
  border-bottom: 2px solid var(--borde-secundario);
}

section p {
  font-size: 16px;
  line-height: 1.6;
}
section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section ul li {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: var(--fondo-terciario);
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}

section ul li:last-child {
  margin-bottom: 0;
}

section ul li:before {
  content: "";
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: var(--amarillo-naranja);
  border-radius: 50%;
}

section ul li h4 {
  font-size: 18px;
  font-weight: bold;
  color: var(--titulo-principal);
  margin-bottom: 0;
  margin-left: 15px;
}

section ul li p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--texto-principal);
  margin-bottom: 0;
  margin-left: 15px;
}
/* Formularios */
form {
  margin-bottom: 20px;
  background-color: var(--form-fondo);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--sombra-principal);
}

.formulario-comun label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--form-texto);
}

.formulario-comun input[type="text"],
.formulario-comun input[type="password"],
.formulario-comun input[type="file"],
form button {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--form-borde);
  border-radius: 5px;
  background-color: var(--form-fondo);
  color: var(--form-texto);
  transition: border-color 0.3s ease;
}

.formulario-comun input[type="text"]:focus,
.formulario-comun input[type="password"]:focus,
.formulario-comun input[type="file"]:focus,
.formulario-comun button:focus {
  outline: none;
  border-color: var(--boton-primario-hover);
}

.formulario-comun input[type="file"]::-webkit-file-upload-button {
  background: var(--boton-primario-fondo);
  color: var(--boton-primario-texto);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario-comun input[type="file"]::-webkit-file-upload-button:hover {
  background-color: var(--boton-primario-hover);
}

/* Estilos adicionales para botones */
form button {
  border: none;
  border-radius: 5px;
  background-color: var(--boton-primario-fondo);
  color: var(--boton-primario-texto);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: var(--boton-primario-hover);
}

/* Estilos para el campo de mensaje */
.formulario-comun textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid var(--form-borde);
  border-radius: 5px;
  background-color: var(--form-texto2);
  color: var(--form-texto);
  resize: vertical;
}

.formulario-comun textarea:focus {
  outline: none;
  border-color: var(--boton-primario-hover);
}

/* Estilos para el campo de contacto */
.formulario-comun input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--form-borde);
  border-radius: 5px;
  background-color: var(--form-texto2);
  color: var(--form-texto);
}

.formulario-comun input[type="email"]:focus {
  outline: none;
  border-color: var(--boton-primario-hover);
}

/* Estilos para el campo de text */
.formulario-comun input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--form-borde);
  border-radius: 5px;
  background-color: var(--form-texto2);
  color: var(--form-texto);
}

.formulario-comun input[type="text"]:focus {
  outline: none;
  border-color: var(--boton-primario-hover);
}

/* Estilos para el campo de asunto */
.formulario-comun input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--form-borde);
  border-radius: 5px;
  background-color: var(--form-texto2);
  color: var(--form-texto);
}

.formulario-comun input[type="text"]:focus {
  outline: none;
  border-color: var(--boton-primario-hover);
}

/* Estilos para el botón de envío */
.formulario-comun input[type="submit"] {
  padding: 10px 20px;
  background-color: var(--boton-primario-fondo);
  color: var(--boton-primario-texto);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario-comun input[type="submit"]:hover {
  background-color: var(--boton-primario-hover);
}
/* Estilos para iconos */
.icon-title {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 1rem;
}

.icon-title i {
  margin-right: 0.5rem;
}

.icon-title h1.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--titulo-primario);
  position: relative;
  padding-bottom: 0.25rem;
  margin-left: 0.5rem;
}

.icon-title h1.title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    to right,
    var(--borde-cuaternario) 25%,
    transparent 25%,
    transparent 75%,
    var(--borde-cuaternario) 75%
  );
  background-size: 4px 4px;
  background-position: 0 100%;
  background-repeat: repeat-x;
}
.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  max-height: 250px; /* Altura máxima de la tabla */
  overflow-y: auto; /* Agregar barra de desplazamiento vertical */
}

.tabla thead {
  background-color: var(--color-secundario);
  color: var(--color-primario);
}

.tabla th,
.tabla td {
  padding: 10px;
  border: 1px solid var(--color-primario);
}

.tabla tbody tr:nth-child(even) {
  background-color: var(--amarillo-clarito); 
}

.tabla tbody tr:nth-child(odd) {
  background-color: var(--color-acento); 
}
.tabla tbody tr:hover {
  background-color: var(--amarillo-naranja-claro);
}
/* Estilo para la barra de desplazamiento */
.tabla::-webkit-scrollbar {
  width: 12px;
}

.tabla::-webkit-scrollbar-track {
  background: var(--color-secundario);
}

.tabla::-webkit-scrollbar-thumb {
  background-color: var(--color-primario);
  border-radius: 10px;
}

.tabla::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-terciario);
}
/* Estilos para los botones */
.boton-primario,
.boton-secundario,
.boton-terciario {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: px;
}

.boton-primario,
.boton-terciario {
  background-color: var(--boton-primario-fondo); /* Color de fondo del botón primario */
  color: var(--boton-primario-texto); /* Color del texto del botón primario */
}

.boton-primario:hover ,
.boton-terciario:hover{
  background-color: var(--boton-primario-hover); /* Color de fondo del botón primario al pasar el mouse */
}

.boton-secundario {
  background-color: var(--boton-secundario-fondo); /* Color de fondo del botón secundario */
  color: var(--boton-secundario-texto); /* Color del texto del botón secundario */
}

.boton-secundario:hover {
  background-color: var(--boton-secundario-hover); /* Color de fondo del botón secundario al pasar el mouse */
}
main {
  margin-bottom: 100px; /* adjust the value to match the height of your footer */
}
/* Pie de página */
footer {
  background-color: var(--color-primario);
  color: var(--texto-secundario);
  padding: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  align-items: center;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li {
  margin-right: 20px;
}

footer form {
  display: flex;
}

footer input[type="email"],
footer input[type="submit"] {
  padding: 10px;
  border: 1px solid var(--borde-secundario);
  border-radius: 5px;
}

footer input[type="submit"] {
  padding: 10px 20px;
  background-color: var(--boton-primario-fondo);
  color: var(--boton-primario-texto);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer input[type="submit"]:hover {
  background-color: var(--boton-primario-hover);
}

/* Estilos para los enlaces del footer */
footer ul li a {
  color: var(--texto-terciario);
  text-decoration: none;
}

footer ul li a:hover {
  color: var(--texto-blanco);
}

/* Estilos para los iconos de las redes sociales */
.social-links {
  margin-left: auto;
}

.social-links i {
  font-size: 24px;
  margin: 0 10px;
  color: var(--texto-terciario); /* Añadir color para los iconos */
}

.social-links a {
  color: var(--texto-terciario); /* Añadir color para los enlaces */
}

.social-links a:hover {
  color: var(--texto-blanco); /* Cambiar color al pasar el mouse */
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {
  /* Hacer que los elementos del menú de navegación se apilen verticalmente */
  #navbar ul {
    flex-direction: column;
  }

  #navbar ul li {
    margin: 10px 0;
  }

  #navbar ul li a {
    padding: 10px;
  }

  /* Reducir el tamaño del logo */
  #divTitulo h1 {
    font-size: 2.5rem;
  }

  /* Hacer que los inputs del formulario ocupen todo el ancho del contenedor */
  .formulario-comun input[type="text"],
  .formulario-comun input[type="email"],
  .formulario-comun textarea {
    width: 100%;
  }


  /* Reducir el tamaño del texto del pie de página */
  footer p {
    font-size: 0.7rem;
  }

  /* Centrar el contenido del pie de página */
  footer .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Hacer que el texto del pie de página esté debajo de la lista de enlaces */
  footer ul {
    margin-bottom: 10px;
  }

  /* Ajustar el tamaño de los iconos de las redes sociales */

  .social-links {
    margin: 10px 0;
  }
  .social-links i {
    font-size: 1.5rem;
    margin: 0 5px;
  }
  .social-links,
  footer p {
    width: 100%;
    text-align: center;
  }
}
/* Media queries para dispositivos móviles */
@media screen and (max-width: 480px) {
  /* Hacer que los elementos del menú de navegación se apilen verticalmente */
  #navbar ul {
    flex-direction: column;
  }

  #navbar ul li {
    margin: 10px 0;
  }

  #navbar ul li a {
    padding: 10px;
  }

  /* Reducir el tamaño del logo */
  #divTitulo h1 {
    font-size: 2.5rem;
  }

  /* Hacer que los inputs del formulario ocupen todo el ancho del contenedor */
  .formulario-comun input[type="text"],
  .formulario-comun input[type="email"],
  .formulario-comun textarea {
    width: 100%;
  }

  /* Reducir el tamaño del texto del pie de página */
  footer p {
    font-size: 0.7rem;
  }

  /* Centrar el contenido del pie de página */
  footer .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Hacer que el texto del pie de página esté debajo de la lista de enlaces */
  footer ul {
    margin-bottom: 10px;
  }
  .social-links {
    margin: 10px 0;
  }
  .social-links,
  footer p {
    width: 100%;
    text-align: center;
  }
}
