*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-bottom: 100px; /* ajustado para la altura del footer */
}

/* Estilos específicos para este HTML */

/* Contenedor principal */
.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columnas automáticas */
    grid-gap: 20px; /* Espacio entre columnas */
  }
  #cabecera {
    display: flex;
    justify-content: space-between;
  }
  
  #cabecera img {
    max-height: 100px;
    margin: 10px;
  }

  
  
  #aside {
    background-color: var(--fondo-terciario);
    padding: 20px;
    border: 1px solid var(--borde-principal);
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--sombra-principal);
  }
  
  #aside h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--titulo-principal);
  }
  
  /* Formulario de nuevo evento */
  #new-event-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--titulo-principal);
  }
  
  #new-event-form input[type="text"],
  #new-event-form input[type="date"],
  #new-event-form textarea {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--borde-principal);
    border-radius: 5px;
    background-color: var(--fondo-terciario);
    color: var(--texto-principal);
  }
  
  #new-event-form button[type="submit"] {
    padding: 10px 20px;
    background-color: var(--boton-primario-fondo);
    color: var(--boton-primario-texto);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #new-event-form button[type="submit"]:hover {
    background-color: var(--boton-primario-hover);
  }
  
  /* Separación entre el main y el footer */
  main {
    margin-bottom: 30px;
  }
  
  /* Media queries para dispositivos móviles y tablets */
  @media (max-width: 768px) {
    /* Contenedor principal */
    .container {
      grid-template-columns: 1fr; /* Cambia a una sola columna */
    }
  
    /* Formulario de nuevo evento */
    #new-event-form input[type="text"],
    #new-event-form input[type="date"],
    #new-event-form textarea {
      width: 100%; /* Ancho completo */
    }
  
    /* Ajuste para colocar aside debajo del main */
    .aside-container {
      grid-column: 1 / -1; /* Ocupa todas las columnas */
    }
  }
  
  
  