*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-bottom: 100px; /* ajustado para la altura del footer */
}

/* Estilos específicos para este HTML */

/* Contenedor principal */
.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columnas automáticas */
    grid-gap: 20px; /* Espacio entre columnas */
  }



  #search-inputs {
    margin-left: 30px; 
}

  
  #aside {
    background-color: var(--fondo-terciario);
    padding: 20px;
    border: 1px solid var(--borde-principal);
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--sombra-principal);
  }
  
  #aside h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--titulo-principal);
  }
  
  /* Formulario de nuevo evento */

  
  .form-group {
    margin-left: 30px; 
}
.form-group p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--texto-principal);
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1); /* Color de fondo con transparencia */
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 30px;
}
/* Estilos para los select */
select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--borde-principal);
  border-radius: 5px;
  background-color: var(--fondo-terciario);
  color: var(--texto-principal);
}

/* Estilo para los botones dentro de los selects */
select option {
  padding: 10px;
}

  #new-event-form label,
  #edit-event-form label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--titulo-principal);
  }
  
  #new-event-form input[type="text"],
  #edit-event-form input[type="text"],
  #search-inputs input[type="text"],
  #new-event-form input[type="date"],
  #edit-event-form input[type="date"],
  #search-inputs input[type="date"],
  #new-event-form textarea,
  #edit-event-form textarea{
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--borde-principal);
    border-radius: 5px;
    background-color: var(--fondo-terciario);
    color: var(--texto-principal);
  }
  
  #new-event-form button[type="submit"] ,
  #edit-event-form button[type="submit"]{
    padding: 10px 20px;
    background-color: var(--boton-primario-fondo);
    color: var(--boton-primario-texto);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #new-event-form button[type="submit"]:hover,
  #edit-event-form button[type="submit"]:hover{
    background-color: var(--boton-primario-hover);
  }
  



  /* Separación entre el main y el footer */
  main {
    margin-bottom: 30px;
  }
#search-button {  
  margin-left: 30px;
  margin-right: 30px;
  width: calc(100% - 70px);
  padding: 10px;
}
  
  /* Media queries para dispositivos móviles y tablets */
  @media (max-width: 768px) {
    /* Contenedor principal */
    .container {
      grid-template-columns: 1fr; /* Cambia a una sola columna */
    }
  
    /* Formulario de nuevo evento */
    #new-event-form input[type="text"],
    #edit-event-form input[type="text"],
    #search-inputs input[type="text"],
    #new-event-form input[type="date"],
    #edit-event-form input[type="date"],
    #search-inputs input[type="date"],
    #new-event-form textarea ,
    #edit-event-form textarea{
      width: 100%; /* Ancho completo */
    }
 
  }
  
  
  