/* Estilos específicos para este HTML */

/* Contenedor principal */
.container {
  display: flex;
  flex-wrap: wrap;
}

/* Buscador y listado de eventos */
.search-and-events {
  flex: 1; /* Ocupa el ancho disponible */
  margin-right: 20px; /* Espacio entre el buscador y el aside */
}

.search-form {
  margin-bottom: 20px;
}

.events-container {
  flex: 1; /* Ocupa el ancho disponible */
}

/* Apartado de favoritos y aside de crearEvento */
.aside-container {
  flex: 0 0 300px; /* Ancho fijo de 300px */
  margin-left: 20px; /* Espacio entre el buscador y el aside */
}

.favorites-container,
#aside {
  background-color: var(--fondo-terciario);
  padding: 20px;
  border: 1px solid var(--borde-principal);
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--sombra-principal);
  margin-bottom: 20px;
}

.favorites-container h2,
#aside h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: var(--titulo-principal);
}

.favorites-list,
#new-event-form {
  list-style: none;
  padding: 0;
}

.favorites-list li,
#new-event-form label {
  margin-bottom: 10px;
}

#new-event-form input[type="text"],
#new-event-form input[type="date"],
#new-event-form textarea {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--borde-principal);
  border-radius: 5px;
  background-color: var(--fondo-terciario);
  color: var(--texto-principal);
}

#new-event-form button[type="submit"] {
  padding: 10px 20px;
  background-color: var(--boton-primario-fondo);
  color: var(--boton-primario-texto);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#new-event-form button[type="submit"]:hover {
  background-color: var(--boton-primario-hover);
}

/* Media queries para dispositivos móviles y tablets */
@media (max-width: 768px) {
  /* Contenedor principal */
  .container {
    flex-direction: column; /* Cambia a columna para que los elementos estén apilados verticalmente */
  }

  /* Buscador y listado de eventos */
  .search-and-events,
  .aside-container {
    width: 100%; /* Ancho completo */
    margin: 0; /* Elimina el margen */
  }

  .search-and-events {
    margin-bottom: 20px; /* Espacio entre el buscador y la lista de eventos */
  }

  /* Formulario de nuevo evento */
  #new-event-form input[type="text"],
  #new-event-form input[type="date"],
  #new-event-form textarea {
    width: 100%; /* Ancho completo */
  }
}
