/* Importación de la paleta de colores */
@import url("paletacolores.css");
/* Importación de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Tipografía principal */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--fondo-principal);
  color: var(--texto-principal);
}

/* Hereda el tipo de letra en todos los elementos de formulario */
input,
select,
textarea {
  font-family: inherit;
}

#cabecera {
  display: flex;
  justify-content: space-between;
}

#cabecera img {
  max-height: 110px;
  margin: 10px;
}

a {
  color: var(--enlace-primario);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Encabezado */
#cabecera {
  background-color: var(--header);
  color: var(--texto-blanco);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#divTitulo h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: var(--titulo-blanco);
}

#divTitulo p {
  font-size: 18px;
  margin-bottom: 0;
}

#loginFormContainer {
  display: flex;
  flex-direction: row;
}

#formulario-comun input[type="text"],
#formulario-comun input[type="password"] {
  background-color: var(--form-fondo2);
  color: var(--form-texto);
  border: 2px solid var(--form-borde);
  padding: 5px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 5px;
}

#botonIniciarSesion {
  width: 100%;
}

.registroLink {
  text-align: center;
}

.registroLink a {
  color: var(--enlace-primario);
  font-weight: bold;
  text-decoration: none;
}

.registroLink a:hover {
  text-decoration: underline;
}

/* Menú de navegación */
#navbar {
  background-color: var(--fondo-principal);
  padding: 20px;
  text-align: right;
}

#navbar ul {
  list-style: none;
}

#navbar ul li {
  display: inline-block;
  margin-right: 10px;
}

#navbar ul li a {
  color: var(--texto-principal);
  text-decoration: none;
}

/* Secciones principales */
#seccionCuerpo {
  display: flex;
  flex-wrap: wrap;
  background-image: url("./img/home-bg.jpg");
  border-image: fill 0 linear-gradient(#0001,#000);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
  min-height: calc(100vh - 250px);
}

article {
  flex: 1;
  padding: 20px;
}

section {
  padding: 20px;
  border: 1px solid var(--borde-principal);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 30px;
}

section h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--titulo-principal);
}

section p {
  font-size: 16px;
  line-height: 1.6;
}

/* Barra lateral */

#aside {
  width: 280px;
  max-height: calc(100vh - 350px);
  background-color: var(--fondo-secundario);
  border-radius: 10px;
  overflow: scroll;
}

#main {
  flex: 1;
}

#aside h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--titulo-terciario);
  background-color: var(--fondo-oscuro);
  padding: 10px;
}

#aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#aside li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#aside li img {
  width: 48px;
  height: 48px;
  margin-right: 5px;
  margin-left: 5px;
}

#aside li a {
  display: block;
  padding: 10px 15px;
  background-color: var(--boton-secundario-fondo);
  color: var(--boton-secundario-texto);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  flex: 1;
}

#aside li a:hover {
  background-color: var(--boton-secundario-hover);
}

/* Personalizar scrollbar */
#aside::-webkit-scrollbar {
  width: 10px;
}

#aside::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 10px;
}

#aside::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

/* Pie de página */
#footer {
  background-color: var(--footer);
  color: var(--texto-blanco);
  padding: 20px;
  text-align: center;
}

#footer p {
  margin-bottom: 10px;
}

#footer a {
  color: var(--texto-blanco);
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

/* Media queries para dispositivos móviles y tablets */
@media (max-width: 768px) {
  #cabecera {
    flex-direction: column;
    align-items: center;
  }

  #cabecera img {
    margin: 0;
  }

  #loginFormContainer {
    flex-direction: column;
  }

  #formulario-comun input[type="text"],
  #formulario-comun input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
  }

  #botonIniciarSesion {
    width: 100%;
  }

  #seccionCuerpo {
    flex-direction: column; /* Cambia a columna para que aside esté debajo */
    align-items: center; /* Centra el contenido */
    padding-bottom: 300px; /* La altura del footer */
  }

  #main {
    width: 100%; /* Ancho completo */
  }

  #aside {
    width: 100%; /* Ancho completo */
    max-width: 100%; /* Ancho completo */
    min-height: 50%; /* Altura mínima */
    overflow: scroll;
    margin-bottom: 20px; /* Espacio entre aside y footer */
    background-color: var(--fondo-secundario);
  }

  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--footer);
    color: var(--texto-blanco);
    padding: 20px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  /* Agrega aquí tus reglas CSS para dispositivos móviles con ancho máximo de 480px */
  #cabecera {
    flex-direction: column;
    align-items: center;
  }

  #cabecera img {
    margin: 0;
  }

  #loginFormContainer {
    flex-direction: column;
  }

  #formulario-comun input[type="text"],
  #formulario-comun input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
  }

  #botonIniciarSesion {
    width: 100%;
  }

  #seccionCuerpo {
    flex-direction: column;
    align-items: center;
    padding-bottom: 300px;
  }

  #main {
    width: 100%;
  }

  #aside {
    width: 100%;
    max-width: 100%;
    min-height: 50%;
    overflow: scroll;
    margin-bottom: 20px;
    background-color: var(--fondo-secundario);
  }

  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--footer);
    color: var(--texto-blanco);
    padding: 20px;
    text-align: center;
  }
}



