
/* Estilos específicos para el perfil */
#perfil-section {
  padding: 20px;
}

#perfil-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#perfil-info {
  width: 30%;
  text-align: center;
}

#foto-container {
  margin-bottom: 20px;
}


#foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#nombre {
  font-size: 24px;
  margin-bottom: 10px;
}

#form-container {
  width: 60%;
}

#form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-left: 30px; 
}


#mensaje-container {
  display: none;
  background-color: #f5c7c7; /* Rosado pastel */
  color: #380202; /* Granate */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  margin-top: 10px; /* Espaciado superior */
  font-family: Arial, sans-serif; /* Fuente */
  font-size: 16px; /* Tamaño de la fuente */
}