

/* Header */
header {
  background-color: #f0f0f0; /* Agregamos un fondo gris claro */
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--titulo-principal);
}

/* Main */
main {
  flex-grow: 1; /* Hacemos que main ocupe el espacio restante */
  padding: 20px;
}

main section {
  background-color: #fff; /* Agregamos un fondo blanco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid   var(--borde-principal);
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 10px;
}
#terminos-condiciones {
  color: var(  --texto-naranja);
}
/* Enlace para iniciar sesión */
.login-link {
  font-size: 14px;
  color: var(--texto-principal);
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: var(--boton-registrarse);
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;

}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer li {
  margin-right: 20px;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}