/* Importación de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Tipografía principal */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
/* Contenedor principal */
.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--fondo-terciario);
  border: 1px solid var(--borde-principal);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Título de la página */
h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--titulo-principal);
}

/* Formulario de registro */
form {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--form-texto);
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--form-borde);
  border-radius: 5px;
  background-color: var(--form-fondo);
  color: var(--form-texto);
  transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
  outline: none;
  border-color: var(--boton-primario-hover);
}

form input[type="submit"] {
  padding: 10px 20px;
  background-color: var(--boton-primario-fondo);
  color: var(--boton-primario-texto);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: var(--boton-primario-hover);
}

/* Enlace para iniciar sesión */
.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: var(--enlace-primario);
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
