<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>prueba</display-name>
    <servlet-name>prueba</servlet-name>
    <servlet-class>controlador.prueba</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prueba</servlet-name>
    <url-pattern>/prueba</url-pattern>
  </servlet-mapping>
  <display-name>Aisia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GestorActividad</display-name>
    <servlet-name>GestorActividad</servlet-name>
    <servlet-class>controlador.GestorActividad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorActividad</servlet-name>
    <url-pattern>/GestorActividad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestorEvento</display-name>
    <servlet-name>GestorEvento</servlet-name>
    <servlet-class>controlador.GestorEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorEvento</servlet-name>
    <url-pattern>/GestorEvento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestorFavorito</display-name>
    <servlet-name>GestorFavorito</servlet-name>
    <servlet-class>controlador.GestorFavorito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorFavorito</servlet-name>
    <url-pattern>/GestorFavorito</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestorUsuario</display-name>
    <servlet-name>GestorUsuario</servlet-name>
    <servlet-class>controlador.GestorUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorUsuario</servlet-name>
    <url-pattern>/GestorUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestorClasificadorEventos</display-name>
    <servlet-name>GestorClasificadorEventos</servlet-name>
    <servlet-class>controlador.GestorClasificadorEventos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorClasificadorEventos</servlet-name>
    <url-pattern>/GestorClasificadorEventos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrabajoSesion</display-name>
    <servlet-name>TrabajoSesion</servlet-name>
    <servlet-class>controlador.TrabajoSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrabajoSesion</servlet-name>
    <url-pattern>/TrabajoSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controlador.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contacto</display-name>
    <servlet-name>Contacto</servlet-name>
    <servlet-class>controlador.Contacto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contacto</servlet-name>
    <url-pattern>/Contacto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UltimosEventos</display-name>
    <servlet-name>UltimosEventos</servlet-name>
    <servlet-class>controlador.UltimosEventos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UltimosEventos</servlet-name>
    <url-pattern>/UltimosEventos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestorIntereses</display-name>
    <servlet-name>GestorIntereses</servlet-name>
    <servlet-class>controlador.GestorIntereses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorIntereses</servlet-name>
    <url-pattern>/GestorIntereses</url-pattern>
  </servlet-mapping>
</web-app>